#root{
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
}

@keyframes morph {
  0% {
      border-radius: 40% 60% 60% 40%/70% 30%
  }

  to {
      border-radius: 40% 60%
  }
}

@keyframes spin {
  to {
      transform: rotate(1turn)
  }
}

.animated-morph{
  animation: morph 5s linear infinite alternate, spin 20s linear infinite;
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
}


.mouse-tracker{
  --x-offset: -1000px;
  --y-offset: -1000px;
  --gradient-stop: 60deg, #000 0%, #000 80%;
  display: block;
  background-image: 
  radial-gradient(circle at var(--x-offset) var(--y-offset), rgba(255, 255, 255, 0.5) 0%, transparent 10%, transparent),
  linear-gradient(var(--gradient-stop));
}

.txt-name{
  --gradient-stop: 60deg, #0086ff 0%, #e707ff 80%;
  cursor: context-menu;
  font-size: 7.25rem;
}

.project-desc{
  color: rgb(255, 255, 255, 0.2);
  background: linear-gradient(90deg, #d68cdf, #0086ff) no-repeat;
  background-size: 0%;
}


.addx{
  --gradient-stop: 60deg, #0086ff 0%, #e707ff 80%;
}