#root{
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

body {
  --background: rgb(255, 255, 255);
}

body, .auto-bg{
  background-color: var(--background);
  transition: background-color 0.5s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade{
  animation: fadeIn 1s ease-in;
}

.content {
  width: 334px;
  height: 216px;
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
  transform: translateY(0px);
}

.wrapper {
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
}


.mouse-tracker{
  --x-offset: -1000px;
  --y-offset: -1000px;
  --gradient-stop: 0deg, #444 0%, #444 100%;
  display: block;
  color: rgba(0, 0, 0, 0.25);
  background-image: 
  radial-gradient(250px 250px at var(--x-offset) var(--y-offset), rgba(255, 255, 255, 0.7) 0%, transparent 33%, transparent),
  linear-gradient(var(--gradient-stop));
  background-repeat: no-repeat;
}

.txt-name{
  --gradient-stop: 50deg,  #0086ff, #ee20ff;
}

.text-gray, .text-muted{
  --gradient-stop: 90deg, #707070, #707070;
  color: #707070;
}


.addx{
  color: rgba(255, 255, 255, 0.175);
  --gradient-stop: 60deg, #0075db 0%, #c800de 100%;
}

.cfj{
  color: rgba(255, 255, 255, 0.175);
  --gradient-stop: 90deg, #009E77, #0099C0, #027FFF;
}

.olm{
  color: rgba(255, 255, 255, 0.175);
  --gradient-stop: 60deg, #f37335, #fdc830;
}

.skill-label{
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 1px #f3f3f3;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 10;
  color: black;
  width: fit-content;
  position: absolute;
  top: calc(var(--y-offset) + 16px);
  left: calc(var(--x-offset) + 16px);
  pointer-events: none;
}

.no-bg{
  background-image: none !important;
}

.bg-top-section{
  background-image:
    radial-gradient(25% 30% at 80% 60%, #c2f765a7 0%, transparent 90%),
    radial-gradient(27% 28% at 73% 28%, #c5ecf8f5 10%, transparent 100%);
}

.text-balance{
  text-wrap: balance;
}

@media (max-width: 480px) {
  .bg-top-section{
    background-image:
      radial-gradient(32% 20% at 30% 15%, #c2f765a7 0%, transparent 90%),
      radial-gradient(33% 20% at 70% 25%, #c5ecf8f5 10%, transparent 100%);
  }
}
