#root{
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
}

body {
  --background: rgb(255, 255, 255);
}

body, .auto-bg{
  
  background-color: var(--background);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes morph {
  0% {
      border-radius: 40% 60% 60% 40%/70% 30%
  }

  to {
      border-radius: 40% 60%
  }
}

@keyframes spin {
  to {
      transform: rotate(1turn)
  }
}

.animated-morph{
  animation: morph 5s linear infinite alternate, spin 20s linear infinite;
}

.animate-fade{
  animation: fadeIn .8s ease-in;
}

.content {
  width: 334px;
  height: 216px;
  /* background: #f0f0f0; */
  border-radius: 3px;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
}


.mouse-tracker{
  --x-offset: -1000px;
  --y-offset: -1000px;
  --gradient-stop: 60deg, #000 0%, #000 80%;
  display: block;
  color: rgba(0, 0, 0, 0.2);
  background-image: 
  radial-gradient(300px 300px at var(--x-offset) var(--y-offset), rgba(255, 255, 255, 0.7) 0%, transparent 33%, transparent),
  linear-gradient(var(--gradient-stop));
  background-repeat: no-repeat;
  cursor: context-menu;
}

.txt-name{
  --gradient-stop: 60deg, #0086ff 0%, #e707ff 80%;
  cursor: context-menu;
  font-size: 7.25rem;
}

.text-gray{
  --gradient-stop: 60deg, #666 0%, #666 80%;
  color: #999;
}


.addx{
  color: rgba(255, 255, 255, 0.15);
  --gradient-stop: 60deg, #0075db 0%, #c800de 80%;
}

.skill-label{
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 1px #f3f3f3;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 10;
  color: black;
  width: fit-content;
  position: absolute;
  top: calc(var(--y-offset) + 16px);
  left: calc(var(--x-offset) + 16px);
  pointer-events: none;
}
